<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Motor_vehicle_Crash</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Motor_vehicle_Crash.styles.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar-main">
            <h3 class="main-header">Florida Motor Vehicle Crashes</h3>
            <ul class="nav-item-list">
                <li class="list-item"><a aria-current="page" asp-controller="Home" asp-action="Index" target="_top">Home</a></li>
                <li class="list-item"><a href="#report-header">Report</a></li>
                <li class="list-item"><a aria-current="page" asp-controller="Home" asp-action="Charts" target="_top">Visuals</a></li>
                <li class="list-item"><a aria-current="page" asp-controller="Home" asp-action="About" target="_top">About Us</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
